In [31]:
# Import the dependencies.
import pandas as pd
import numpy as np
import gmaps
import requests

# Import the API key.
from config import g_key

In [32]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("WeatherPy_vacation.csv")
city_data_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,4,Rikitea,PF,70.99,overcast clouds,-23.12,-134.97,Pension Maro'i
1,7,Avarua,CK,73.40,overcast clouds,-21.21,-159.78,Paradise Inn
2,9,Castro,BR,66.78,clear sky,-24.79,-50.01,CHACARA BAILLY
3,13,Constanza,DE,66.99,clear sky,47.66,9.18,Hotel Gästehaus Centro
4,14,Jalu,LY,78.89,clear sky,29.03,21.55,Jalu Hotel

### Select 4 Cities
###### Could refine to ask for "Start" city and refine options for user to choose that are within a "reasonable" distance to drive, which could also be based on user input.

In [33]:
city_1 = city_data_df.loc[city_data_df['City'] == 'Lompoc']
city_2 = city_data_df.loc[city_data_df['City'] == 'Isla Vista']
city_3 = city_data_df.loc[city_data_df['City'] == 'Rosarito']
city_4 = city_data_df.loc[city_data_df['City'] == 'San Quintin']

In [35]:
city_1_location = tuple(city_1[['Lat', 'Lng']].to_numpy()[0])
city_2_location = tuple(city_2[['Lat', 'Lng']].to_numpy()[0])
city_3_location = tuple(city_3[['Lat', 'Lng']].to_numpy()[0])
city_4_location = tuple(city_4[['Lat', 'Lng']].to_numpy()[0])

## Map directions

In [36]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [37]:
fig = gmaps.figure()
city_directions = gmaps.directions_layer(
        city_1_location, city_4_location, waypoints=[city_2_location, city_3_location],
        travel_mode='DRIVING')
fig.add_layer(city_directions)
fig

Figure(layout=FigureLayout(height='420px'))

## Create a Market Layer Map

In [41]:
destination_cities_df = pd.concat([city_1, city_2, city_3, city_4])
destination_cities_df.head(5)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
64,257,Lompoc,US,69.8,clear sky,34.64,-120.46,Holiday Inn Express Lompoc
46,177,Isla Vista,US,77.0,overcast clouds,34.41,-119.86,Super 8 by Wyndham Santa Barbara/Goleta
72,287,Rosarito,MX,73.0,broken clouds,32.33,-117.03,Hotel Festival Plaza Rosarito
118,419,San Quintin,MX,70.2,clear sky,30.48,-115.95,Old Mill Hotel

In [49]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description} °F</dd>
</dl>
"""
# Store the DataFrame Row.
destination_cities_info = [info_box_template.format(**row) for index, row in destination_cities_df.iterrows()]

In [50]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = destination_cities_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Set map layer name
marker_layer = gmaps.marker_layer(
    locations
    , info_box_content=destination_cities_info
)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))