In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain (inches),Snow (inches)
0,0,Georgetown,MY,5.41,100.34,80.60,94,20,4.70,few clouds,0.00,0.0
1,1,Fairbanks,US,64.84,-147.72,54.00,93,90,13.87,light rain,0.38,0.0
2,2,Kaitangata,NZ,-46.28,169.85,34.11,88,1,3.83,clear sky,0.00,0.0
3,3,Nikolskoye,RU,59.70,30.79,62.60,51,0,8.95,clear sky,0.00,0.0
4,4,Rikitea,PF,-23.12,-134.97,70.99,69,92,16.73,overcast clouds,0.00,0.0

### Ask User for their min temperature preference

In [3]:
# Ask the customer to add a minimum temperature value.
while True:
    try:
        min_temp = float(input("What is the Minimum temperature you would like for your trip? "))
        break
    except ValueError:
        print('Please enter a valid number')

What is the Minimum temperature you would like for your trip? 65

### Ask User for their max temperature preference

In [4]:
# Ask the customer to add a maximum temperature value.
while True:
    try:
        max_temp = float(input("What is the Maximum temperature you would like for your trip? "))
        break
    except ValueError:
        print('Please enter a valid number')

What is the Maximum temperature you would like for your trip? 80

### Ask User if they want it to rain

In [5]:
# Ask the customer whether they would like it to be raining
while True:
    has_rain = input("Do you want it to be raining? (yes/no) ")
    if has_rain.lower() in ['yes', 'no']:
        has_rain = True if has_rain.lower() == 'yes' else False
        break
    print('Please enter either "yes" or "no"')

Do you want it to be raining? (yes/no) no

### Ask User if they want it to snow

In [6]:
# Ask the customer whether they would like it to be raining
while True:
    has_snow = input("Do you want it to be snowing? (yes/no) ")
    if has_snow.lower() in ['yes', 'no']:
        has_snow = True if has_snow.lower() == 'yes' else False
        break
    print('Please enter either "yes" or "no"')

Do you want it to be snowing? (yes/no) no

### Filter cities based on user preference

In [7]:
preferred_cities_df = city_data_df.loc[
    (city_data_df["Max Temp"] <= max_temp)
    & (city_data_df["Max Temp"] >= min_temp)
]
if has_rain and has_snow:
    preferred_cities_df = preferred_cities_df.loc[
        (city_data_df["Rain (inches)"] > 0.0)
        & (city_data_df["Snow (inches)"] > 0.0)
    ]
elif has_rain:
    preferred_cities_df = preferred_cities_df.loc[
        (city_data_df["Rain (inches)"] > 0.0)
        & (city_data_df["Snow (inches)"] == 0.0)
    ]
    preferred_cities_df.head(100)
elif has_snow:
    preferred_cities_df = preferred_cities_df.loc[
        (city_data_df["Rain (inches)"] == 0.0)
        & (city_data_df["Snow (inches)"] > 0.0)
    ]
else:
    preferred_cities_df = preferred_cities_df.loc[
        (city_data_df["Rain (inches)"] == 0.0)
        & (city_data_df["Snow (inches)"] == 0.0)
    ]
preferred_cities_df.head(100)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain (inches),Snow (inches)
4,4,Rikitea,PF,-23.12,-134.97,70.99,69,92,16.73,overcast clouds,0.0,0.0
7,7,Avarua,CK,-21.21,-159.78,73.40,64,100,10.29,overcast clouds,0.0,0.0
9,9,Castro,BR,-24.79,-50.01,66.78,68,0,5.35,clear sky,0.0,0.0
13,13,Constanza,DE,47.66,9.18,66.99,68,7,1.54,clear sky,0.0,0.0
14,14,Jalu,LY,29.03,21.55,78.89,42,0,16.93,clear sky,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
364,364,Lagoa,PT,39.05,-27.98,66.13,85,0,18.39,clear sky,0.0,0.0
366,366,Ikwiriri,TZ,-7.96,38.97,71.15,79,1,5.44,clear sky,0.0,0.0
368,368,Siderno,IT,38.28,16.30,73.00,78,5,8.01,clear sky,0.0,0.0
369,369,Labuhan,ID,-6.88,112.21,77.59,87,100,4.16,overcast clouds,0.0,0.0
371,371,Bowen,AU,-20.02,148.23,66.99,93,90,2.24,overcast clouds,0.0,0.0

In [8]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

### Create dataframe to store hotel names with hotel name, city, country, description

In [9]:
hotel_df = preferred_cities_df[[
    "City"
    , "Country"
    , "Max Temp"
    , "Current Description"
    , "Lat"
    , "Lng"
]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Rikitea,PF,70.99,overcast clouds,-23.12,-134.97,
7,Avarua,CK,73.40,overcast clouds,-21.21,-159.78,
9,Castro,BR,66.78,clear sky,-24.79,-50.01,
13,Constanza,DE,66.99,clear sky,47.66,9.18,
14,Jalu,LY,78.89,clear sky,29.03,21.55,
20,Faanui,PF,78.28,overcast clouds,-16.48,-151.75,
21,Dongsheng,CN,65.95,overcast clouds,39.82,109.98,
22,Traverse City,US,75.20,broken clouds,44.76,-85.62,
24,Tapes,BR,71.87,scattered clouds,-30.67,-51.40,
27,Vaini,TO,75.20,broken clouds,-21.20,-175.20,

In [10]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [11]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
        pass
hotel_df.head(50)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Rikitea,PF,70.99,overcast clouds,-23.12,-134.97,Pension Maro'i
7,Avarua,CK,73.40,overcast clouds,-21.21,-159.78,Paradise Inn
9,Castro,BR,66.78,clear sky,-24.79,-50.01,CHACARA BAILLY
13,Constanza,DE,66.99,clear sky,47.66,9.18,Hotel Gästehaus Centro
14,Jalu,LY,78.89,clear sky,29.03,21.55,Jalu Hotel
20,Faanui,PF,78.28,overcast clouds,-16.48,-151.75,Bora-Bora Pearl Beach Resort & Spa
21,Dongsheng,CN,65.95,overcast clouds,39.82,109.98,Crowne Plaza Ordos
22,Traverse City,US,75.20,broken clouds,44.76,-85.62,Bayshore Resort
24,Tapes,BR,71.87,scattered clouds,-30.67,-51.40,Cabanas Camping Union
27,Vaini,TO,75.20,broken clouds,-21.20,-175.20,Keleti Beach Resort
30,Puerto Ayora,EC,77.00,scattered clouds,-0.74,-90.35,Finch Bay Galapagos Hotel
34,Ribeira Grande,PT,68.00,scattered clouds,38.52,-28.70,Quinta da Meia Eira
39,Bambous Virieux,MU,72.00,scattered clouds,-20.34,57.76,Casa Tia Villa
50,Medina Del Campo,ES,78.01,clear sky,41.31,-4.91,Hotel Villa de Ferias
63,Hobyo,SO,79.95,broken clouds,5.35,48.53,Osmani Hotel
68,Santa Fe,AR,70.00,overcast clouds,-31.63,-60.70,Conquistador Hotel
70,Yellowknife,CA,78.01,few clouds,62.46,-114.35,The Explorer Hotel
76,Kilindoni,TZ,79.50,broken clouds,-7.91,39.67,Bustani B&B
81,Marawi,PH,75.99,clear sky,8.00,124.29,Derogongan Residence
82,Lima,PE,66.20,broken clouds,-12.04,-77.03,Gran Hotel Bolivar Lima
85,Atambua,ID,70.00,broken clouds,-9.11,124.89,Pondok Pesantren Al Muhajirin Atambua
88,Saint-Philippe,RE,66.20,few clouds,-21.36,55.77,"Chambres d'hôte ""La Trinité"""
94,Yagodnoye,RU,68.02,clear sky,62.55,149.67,Guest House Yagodnoe
96,Lodingen,NO,68.00,clear sky,68.41,16.00,Brygga Hotell & Restaurant
100,Koumac,NC,68.86,broken clouds,-20.57,164.28,Le Monitel
102,Port Said,EG,77.61,clear sky,31.26,32.28,Aracan Hotel
110,Kalemie,CD,70.38,broken clouds,-5.95,29.19,Mahobilali
114,Ponta Do Sol,PT,71.60,few clouds,32.67,-17.10,Hotel do Campo
115,Roebourne,AU,65.93,clear sky,-20.78,117.13,Harding River Caravan Park
116,Sao Filipe,CV,76.84,clear sky,14.90,-24.50,Tortuga B&B
118,Hasaki,JP,66.20,broken clouds,35.73,140.83,Inubosaki Kanko Hotel
127,Mahebourg,MU,71.60,scattered clouds,-20.41,57.70,Shandrani Beachcomber Resort & Spa
130,Xilagani,GR,69.80,few clouds,40.98,25.42,
131,Ambon,ID,79.00,few clouds,-3.70,128.18,Swiss-Belhotel Ambon
135,Pisco,PE,66.00,overcast clouds,-13.70,-76.22,Hostal San Isidro Oficial
136,Mira,IT,75.20,scattered clouds,45.44,12.13,Villa Gasparini
147,Chokurdakh,RU,75.63,clear sky,70.63,147.92,
153,Port Keats,AU,69.80,clear sky,-14.25,129.55,TDC Village (Hundred Man Camp)
156,Saint-Paul,RE,69.80,few clouds,-21.01,55.27,Boucan Canot
158,Luanda,AO,73.40,scattered clouds,-8.84,13.23,EPIC SANA Luanda
162,Gemena,CD,70.66,broken clouds,3.25,19.77,Hôtel Goshen
166,Tabou,CI,76.78,overcast clouds,4.42,-7.35,hotêl doufoulougou
168,Maymyo,MM,66.47,broken clouds,22.03,96.47,Tiger Hotel
174,Fare,PF,78.55,overcast clouds,-16.70,-151.02,Maitai Lapita Village Huahine
175,Winneba,GH,78.80,broken clouds,5.35,-0.62,Windy Lodge Beach Resort
176,Chama,CH,66.20,scattered clouds,47.18,8.46,Brasserie Löwen
177,Isla Vista,US,77.00,overcast clouds,34.41,-119.86,Super 8 by Wyndham Santa Barbara/Goleta
180,Mayskiy,RU,73.40,scattered clouds,47.69,40.10,Dio Lakrua
182,Tual,ID,79.72,scattered clouds,-5.67,132.75,Grand Vilia Hotel
190,Phan Thiet,VN,78.19,overcast clouds,10.93,108.10,Hotel Saigon-PT

In [12]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [13]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(
    locations
    , info_box_content=hotel_info
)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Create the output file (CSV).
output_data_file = "WeatherPy_vacation.csv"

# Export the City_Data into a CSV.
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [15]:
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Rikitea,PF,70.99,overcast clouds,-23.12,-134.97,Pension Maro'i
7,Avarua,CK,73.40,overcast clouds,-21.21,-159.78,Paradise Inn
9,Castro,BR,66.78,clear sky,-24.79,-50.01,CHACARA BAILLY
13,Constanza,DE,66.99,clear sky,47.66,9.18,Hotel Gästehaus Centro
14,Jalu,LY,78.89,clear sky,29.03,21.55,Jalu Hotel
20,Faanui,PF,78.28,overcast clouds,-16.48,-151.75,Bora-Bora Pearl Beach Resort & Spa
21,Dongsheng,CN,65.95,overcast clouds,39.82,109.98,Crowne Plaza Ordos
22,Traverse City,US,75.20,broken clouds,44.76,-85.62,Bayshore Resort
24,Tapes,BR,71.87,scattered clouds,-30.67,-51.40,Cabanas Camping Union
27,Vaini,TO,75.20,broken clouds,-21.20,-175.20,Keleti Beach Resort